#name{
    font-weight: lighter;
    margin-bottom:7%;
    letter-spacing: 1px;
    font-size: 45px;
    font-family: 'Muli', sans-serif;
}

#biography{
    font-weight: lighter;
    font-size: 18px;
    line-height: 200%;
    font-family: 'Muli', sans-serif;
}

.information{
    margin:10% 10% 10% 0;
    width: 40%;
    float: right;
    font-family: 'Muli', sans-serif;

}

.button{
    font-family: 'Muli', sans-serif;
    border-bottom: solid #9999FF 1px;
    font-size: 20px;
    padding: 15px;
    margin:10px 10px 10px 0;
    color:#9999FF;

}

#icon{
    font-size: 25px;
    letter-spacing: 20px;
    color: #9999FF;
}

a{
    text-decoration: none;
    color: #9999FF;

}

.underline{
    border-bottom: solid 1px #9999FF;
    padding-bottom: 3px;
}

body{
    color: black;
    font-weight: 400;
    padding: 0;
    margin: 0;

}

.little{
    color:#9999FF;
}

#image{
    float: left;
    width:40%;
}

#headshot{
    margin-top: 8%;
    margin-left: 15%;
    position: absolute;
    height: 65%;
    opacity: 0.8;
}


a:hover{
    color: #746CC0;
}

.underline:hover{
    border-bottom: solid 1px #746CC0;
}
