html, body{
    height: 100%;
}

#title{
    width: 40%;
    display: block;
    margin: 40px auto;
}

#name{
    display: inline-block;
    font-family: 'Muli', sans-serif;
    font-size: 45px;
    margin-left: 30%;
    text-align: center;
    font-weight: lighter;
}

#portfolio{
    font-size: 25px;
    font-weight: lighter;

}

.projects{
    display: inline-block;
    vertical-align: top;
    font-family: 'Muli', sans-serif;
    font-weight: lighter;
    line-height: 200%;
    text-align: center;
    width: 27%;
    height: auto;
    padding-right: 1%;
    padding-left: 1%;
    white-space: nowrap;
    padding-top: 2%;
    padding-bottom: 2%;
}



#runsilo, #reversi{
   background-color: powderblue;
}
#uno{
    background-color: #77C9D4;}
#calculator{
    background-color: #57BC90;
}

#run{
    background-color: #015249;
}

#jeopardy{
    background-color: #A5A5AF;
}

.header{
    font-size: 25px;
}

.language{
    font-size: 15px;
}
.description{
    font-size: 18px;
    margin-left: 5%;
    margin-right: 2%;
    display: block;
    font-family: 'Roboto', sans-serif;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

#container{
    display: flex;
    display: -webkit-flex;
    flex-grow: 0;
    -ms-flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-wrap: wrap;
    width: 85%;
    margin-left: 13%;
}