#name{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
}

#pictureDiv{
    text-align: center;
    margin: 0;
    padding: 0;
}

#aboutMe{
    text-align: center;
    max-width: 67em;
}
#wrapper2{
    width: 75%;
    text-align: center;
    margin: 0 auto;

}
#border-bottom{
    border-bottom: #A8A8A8 dotted 1px;
    padding-bottom: 20px !important;
    margin-bottom: 30px !important;
}
#footerLeft{
    color:#A8A8A8;
    float: left;
    font-size: 15px;
}
#footerRight{
    color:#A8A8A8;
    float: right;
    margin-right: 3%;
    font-size: 15px;
}
body{
    font-family: 'Roboto', sans-serif !important;
}
a.links{
    text-decoration: none;
    color: #FBCEB1;
    font-size: 20px;
    margin-right: 8px;
    display: inline-block;
    line-height: 0.9;
    border-bottom: 1px solid;
}
.links:hover{
    color: black;
}
#intro{
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
}
h4{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 30px !important;
}
.work{
    text-decoration: none;
    color: #2176AE;
    display: inline-block;
    line-height: 0.9;
      border-bottom: 1px dotted;

}
.work:hover{
  text-decoration: none;
    color: #0d4a73;
    border-bottom: 1px solid #0d4a73;

}
.years{
    color: #aaa;
}
li{
    margin: 20px 0 8px 0;
    line-height: 1.5;
}
#face{
    margin-top: 6vh;
    width: 25em;
}
#info{
  text-align: left;
}
.little{
  font-size: 1.4em !important;
  font-weight: 300;
  letter-spacing: 10px;
  width: 60%;
  line-height: 2.0;
  color: #A8A8A8;
  margin-left: 20px;
  margin-bottom: 35px;
  margin-top: 40px !important;
}
.little:hover{
  color: 	#383838;
}
.github{
  font-size: 20px !important;
}
.title{
  font-size: 25px;
  font-weight: bold;
  margin-right: 15px;
  margin-bottom: 5px;
}
.nodec{
  text-decoration: none !important;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 23%;
  height:2%;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  margin-left: 4%;
  margin-right: 3%;
  font-size: 1.7em;
  opacity: 0.7;
}
.nodec:hover{
  opacity: .9 !important;
  color: black !important;
}
.location{
    font-size: 1.2em !important;
    font-weight: 300;
    letter-spacing: 10px;
    width: 60%;
    line-height: 2.0;
    color: #A8A8A8;
    margin: 80px 5px 35px 20px;
}
.caption{
  display: inline-block;
}
.gallerypictures{
  width: 32%;
  display: inline-block;
  margin-bottom: 2em;
}
.cap{
  margin-top: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 0.8em;
}
.individuals{
  max-width: 17em;
}
hr {
    border: none;
    margin: 15px !important;
    padding: 0 !important;
    height: 1px !important;
    /* Set the hr color */
    color: #A8A8A8;
    background-color: #A8A8A8;
}
body {
    margin: 0 !important;
    padding: 0 !important;
}

.videoPlayers{
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
}
.projectTitle{
    font-size: 1.6em;
}

.project{
    text-align: left !important;
    max-width: 55em;
    margin-bottom: 35px;
    padding: 15px;
    /*border: black 1px dotted;*/
    line-height: 1.8;
}

.projectImage{
    width: 30em;
    margin-top: 0em;
}

.projectImageDiv{
    text-align: center;
    margin: 0;
    padding: 0;
}

#wrapper {
  margin: 10px;
}