.circle {
    border-radius: 50%;
}
#face{
    display: inline-block;
    width: 25%;
}

#title{
    width: 40%;
    display: block;
    margin: 50px auto;
}

#name{
    display: inline-block;
    font-family: 'Muli', sans-serif;
    font-size: 45px;
    margin-left: 30%;
    text-align: center;
    font-weight: lighter;
}

#portfolio{
    font-size: 25px;
    font-weight: lighter;
}



.projects{
    display: inline-block;
    vertical-align: top;
    font-family: 'Muli', sans-serif;
    font-weight: lighter;
    line-height: 200%;
    text-align: center;
    width: 30%;
    padding-right: 1%;
    margin-top: 2%;
    margin-left: 2%;
    white-space: nowrap;
}
#calculator{
    background-color: rgba(124,165,184,1);
}
#runsilo{
   background-color: rgba(169,219,184,1);
}
#uno{
   background-color: #8C7051;
}
#reversi{
    background-color:rgb(71,104,44);
}

#run{
    background-color: #EF3054;
}

#jeopardy{
  background-color: #BF5FFF;
}

.header{
    font-size: 25px;
}

.language{
    font-size: 15px;
}
.description{
    font-size: 18px;
    margin-left: 3%;
    display: block;
    font-family: 'Open Sans', sans-serif;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

#p1,  #p2,#p3, #p4{
    display: none;
}

#tv{
  margin-top: 2%;
  width: 20%;
}

#everything{
  margin: 0 auto;
}

#calcImg{
  margin-top: 2%;
  width: 20%;
}

#stopwatch{
  margin-top: 2%;
  width: 26%;
}
#cards{
  margin-top: 2%;
  width: 34%;
}
#shoe{
  margin-top: 2%;
  width: 40%;
}
