.heading {
  font-size: 25px !important;
}

.App {
  margin: 0;
  padding: 0;
}

.paragraphs {
  padding: 10px 0;
}

.mt-link {
  color: #1c9760 !important;
  text-decoration: underline !important;
}

.vimeo-link {
  color: #0097d3 !important;
  text-decoration: underline !important;
}

@media(max-width: 425px){
  .heading {
    font-size: 20px !important;
  }

  .paragraphs {
    font-size: 15px !important;
  }
}