ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}
  
li {
    display: block;
    flex: 0 1 auto;
    font-size: 15px;
    font-weight: normal;
}

a {
    color: black !important;
}

.navigation {
    margin: 40px 0;
}

@media(max-width: 375px){
    li {
        font-size: 13px;
    }

    .navigation {
        margin: 25px 0;
    }
}